@media (min-width: 750px) {
  /* header */
  header {
    display: flex;
    flex-direction: column;
    background-image: url(./images/bg-pattern-intro-desktop.svg),
      linear-gradient(
        150deg,
        rgba(255, 143, 112, 1) 0%,
        rgba(255, 61, 84, 1) 100%
      );
    background-repeat: no-repeat;
    background-position: 37% 35%;
    background-size: 120%;
    min-height: 600px;
    border-radius: 0 0 0 5%;
  }
  .header {
    display: flex;
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 2rem 1.7rem;
  }
  .header a {
    color: rgb(233, 233, 233);
  }
  div.nav {
    width: 100%;
  }
  .nav--list {
    display: none;
  }
  .button--hamburger {
    display: none;
  }
  .second-outerlist {
    margin-left: 0.8rem;
  }
  .third-outerlist {
    margin-left: 1.8rem;
  }
  .nav--list--none {
    all: unset;
    margin-left: 1.8rem;
    display: grid;
    grid-template-columns: 90px 100px 100px 1fr 1fr;
    align-items: center;
  }

  .nav--list--none > li:nth-of-type(1),
  .nav--list--none > li:nth-of-type(2),
  .nav--list--none > li:nth-of-type(3) {
    justify-self: start;
  }

  .nav--list--none > li:nth-of-type(4) {
    grid-column-start: 5;
    grid-column-end: 6;
    justify-self: end;
    margin-right: 1.3rem;
  }
  .outer--list {
    display: flex;
  }
  .arrow-span {
    display: inline-block;
    background-image: url(./images/icon-arrow-light.svg);
    background-repeat: no-repeat;
    position: relative;
    top: 0;
    left: -2px;
    width: 23px;
    height: 23px;
    background-size: 15px;
    background-position: center;
  }
  .arrow-clicked {
    display: inline-block;
    background-image: url(./images/icon-arrow-light.svg);
    background-repeat: no-repeat;
    position: relative;
    top: 5px;
    left: 0;
    width: 22px;
    height: 10px;
    background-size: 15px;
    background-position: center;
    transform: rotate(180deg);
  }
  .outer--list:active,
  .log_in_link:active {
    text-decoration: underline;
    color: white;
  }
  .inner-list-block {
    background-color: rgb(255, 255, 255);
    position: absolute;
    transform: translate(-15%);
    font-family: "Ubuntu", sans-serif;
    box-shadow: 5px 15px 25px rgba(0, 0, 0, 0.212);
    text-align: left;
  }
  .inner-list-block a {
    color: var(--veryDarkBlackBlue);
    padding: 0 2rem 0 1rem;
    font-weight: 500;
    text-align: left;
  }
  .inner-list-block a:active {
    color: black;
    font-weight: 700;
  }
  .signup-button-list-item {
    grid-column-start: 6;
    grid-column-end: 7;
    justify-self: end;
  }
  .header--signup--button {
    background-image: unset;
  }

  .signup-button-list-item > a {
    background-color: white;
    color: hsl(353, 100%, 50%);
  }

  hr {
    display: none;
  }
  br {
    display: none;
  }
  /* end of header */

  /* footer */
  .footer {
    display: grid;
    max-width: 1400px;
    grid-template-columns: repeat(4, 1fr);
    text-align: left;
    margin: auto;
  }
  .footer-container {
    padding: 3.7rem;
    padding-bottom: 0;
  }
  /* .logo-footer {
    position: relative;
    top: 2rem;
  } */
  .logo-footer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .logo-footer img {
    max-width: 100%;
    position: relative;
    top: 2rem;
  }
  .listfooter {
    padding-left: 2rem;
  }
  /* end of footer */
}

@media (min-width: 1300px) {
  /* main */
  .main-title,
  .second h1 {
    font-size: 2.5rem;
  }
  .main-title {
    margin-top: 8rem;
    position: relative;
    top: 5rem;
  }
  .main .wrap {
    margin: 5rem 0;
    max-height: 300px;
    min-height: unset;
  }
  .first-section-details h1,
  .first-section-details p {
    max-width: unset;
    margin: 0;
    margin-bottom: 2rem;
    max-width: 50vw;
    text-align: left;
    padding-left: 8rem;
    width: 490px;
  }
  .first-section-details p {
    margin-bottom: 5rem;
  }
  .main .first,
  .main .second,
  .main .third {
    /* margin: 2.5rem auto;
    display: flex;
    flex-direction: column; */
    max-width: unset;
    flex-direction: row;
  }
  .main .first {
    margin-top: -50px;
    min-height: 1000px;
    background: url(./images/illustration-editor-desktop.svg);
    background-repeat: no-repeat;
    background-position: right -280px bottom 50%;
    background-size: 1000px;
    justify-content: center;
    margin: auto;
  }
  .first-section-wrap-div {
    order: 1;
    flex: 1 1 30%;
    background: unset;
  }
  .first-section-details {
    flex: 1 0 70%;
    align-self: center;
    justify-self: center;
  }

  .main .wrap .second {
    flex-direction: row;
  }
  .second-details {
    position: static;
  }
  .second-details h1,
  .second-details p {
    max-width: 550px;
    text-align: left;
    margin: 0 2rem 0 2rem;
    font-size: 1.8rem;
  }
  .second-details p {
    font-size: 0.9rem;
  }
  .second img {
    position: static;
    transform: unset;
  }
  .main .third {
    min-height: 1000px;
    background: url(./images/illustration-laptop-desktop.svg);
    background-repeat: no-repeat;
    background-position: left -230px bottom 50%;
    background-size: 1000px;
    justify-content: center;
    margin: auto;
  }
  .third-wrap-image-div {
    background: unset;
  }
  .third .first-section-details > * {
    margin-left: 10rem;
  }

  /* end of main */
}
@media (min-width: 1550px) {
  .first-section-details h1,
  .first-section-details p {
    max-width: unset;
    margin: 0;
    margin-bottom: 2rem;
    max-width: 50vw;
    text-align: left;
    padding-left: 12rem;
    width: 680px;
  }
  .third .first-section-details > * {
    margin-left: 12rem;
  }
}
