/* font-family: 'Overpass', sans-serif;
font-family: 'Ubuntu', sans-serif; */
:root {
  /* Primary */
  --lightRed: hsl(356, 100%, 66%);
  --veryLightRed: hsl(355, 100%, 74%);
  --veryDarkBlue: hsl(208, 49%, 24%);

  /* Neutral */
  --white: hsl(0, 0%, 100%);
  --grayishBlue: hsl(240, 2%, 79%);
  --veryDarkGrayishBlue: hsl(207, 13%, 34%);
  --veryDarkBlackBlue: hsl(240, 10%, 16%);

  /* Gradient */
  /* Background gradient - Intro/CTA mobile nav: */
  --veryLightRed: #ff8f70;
  --lightRed: hsl(353, 100%, 62%);
  /* Background gradient - body: */
  --veryDarkGrayBlue: hsl(237, 17%, 21%);
  --veryDarkDesaturatedBlue: hsl(237, 23%, 32%);
}
